<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/plain" href="/stylesheets/style.css">

    <title>Task list</title>
</head>
<body>
    <%- include('navbar') %>
    <div class="container">
        <div class="row">
            <h3 style="padding: 15px">Task list</h3>
            <button class="btn btn-primary ml-3"
                    onclick="javascript:document.location.href='/createTask'">
                Create Task
            </button>
        </div>
        <div class="row mt-2">

        </div>
    </div>
</body>
</html>
