<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/plain" href="/stylesheets/style.css">

    <title>Login</title>
</head>
<body>
    <%- include('navbar') %>

    <form method="post" action="/login" style="padding-top: 50px; padding-left: 30%; padding-right: 30%">
        <div class="form-group">
            <label>Username</label>
            <input name="username" type="text" class="form-control" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input name="password" type="password" class="form-control" placeholder="Enter password">
        </div>
        <button name="submit" value="Login" type="submit" class="btn btn-primary">Submit</button>
    </form>

</body>
</html>
